.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  h1 {
      text-align: center;
  }
.content {
    display: flex;
  }

  .sidebar-left {
    order: 1;
    width: 40%;
  }

  .main {
    order: 2;
  }

  .sidebar-right {
    order: 3;
    width: 40%;
  }
.sidebar-right {
    align-content: right;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-size: 100px;
}