.grid {
    background-color: #efefef;
    display: grid;
    padding: 8px;
    grid-template-columns: 100px 100px 100px 100px;
    width: 100%;
  }

  .grid > div {
    border: 1px solid rgba(0, 0, 0, 1);
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
  }
  .color > div {
    
}
  p:nth-child(2) {
    background: red;
  }